{
  "openapi": "3.0.3",
  "info": {
    "title": "Gigs Core API",
    "description": "OpenAPI spec for Gigs Core API endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gigs.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/projects/{project}/connectSessions": {
      "post": {
        "summary": "Create a connect session",
        "description": "Creates a new Connect Session for the given parameters.\n\nRelated guide: [Connect Sessions](https://developers.gigs.com/docs/connect/connect-sessions/about)\n\n#### Preview\nThis endpoint is currently in preview and might change in the future.\n\nWe're excited to hear your feedback and ideas. Please send an email to support@gigs.com to share your thoughts.",
        "operationId": "connectSessionsCreate",
        "tags": ["Connect Sessions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectSession"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created Connect Session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectSession"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/connectSessions/{connectSessionId}": {
      "get": {
        "summary": "Retrieve a connect session",
        "description": "Retrieves the details of an existing Connect Session.\n\n#### Preview\nThis endpoint is currently in preview and might change in the future.\n\nWe're excited to hear your feedback and ideas. Please send an email to support@gigs.com to share your thoughts.",
        "operationId": "connectSessionsRetrieve",
        "tags": ["Connect Sessions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "connectSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Connect Session if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectSession"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a connect session",
        "description": "Updates the Connect Session with the given parameters.\n\nThe `user` or `userDetails` attributes can only be set when the session is not associated with a user yet.\n\nRelated guide: [Connect Sessions](https://developers.gigs.com/docs/connect/connect-sessions/about)\n\n#### Preview\nThis endpoint is currently in preview and might change in the future.\n\nWe're excited to hear your feedback and ideas. Please send an email to support@gigs.com to share your thoughts.",
        "operationId": "connectSessionsUpdate",
        "tags": ["Connect Sessions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "connectSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnectSession"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Connect Session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectSession"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/addons": {
      "get": {
        "summary": "List all add-ons",
        "operationId": "addonsList",
        "tags": ["Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of add-ons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddonList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/addons/{addon}": {
      "get": {
        "summary": "Retrieve an add-on",
        "operationId": "addonsRetrieve",
        "tags": ["Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the add-on object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an add-on",
        "operationId": "addonsUpdate",
        "tags": ["Add-ons"],
        "description": "Updates an add-on's name and description.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAddon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/addons/{addon}/archive": {
      "post": {
        "summary": "Archive an add-on",
        "operationId": "addonsArchive",
        "tags": ["Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the archived add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/addons/{addon}/publish": {
      "post": {
        "summary": "Publish an add-on",
        "operationId": "addonsPublish",
        "tags": ["Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/devices": {
      "get": {
        "summary": "List all devices",
        "operationId": "devicesList",
        "tags": ["Devices"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of devices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a device",
        "operationId": "devicesCreate",
        "tags": ["Devices"],
        "description": "Creates a new device with the given parameters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDevice"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created device.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/devices/{device}": {
      "get": {
        "summary": "Retrieve a device",
        "operationId": "devicesRetrieve",
        "tags": ["Devices"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/device"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the device object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a device",
        "operationId": "devicesDelete",
        "tags": ["Devices"],
        "description": "Retrieves the details of an existing device and deletes it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/device"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deleted device.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a device",
        "operationId": "devicesUpdate",
        "tags": ["Devices"],
        "description": "Updates the given properties of an existing device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/device"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDevice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated device.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/devices/search": {
      "post": {
        "summary": "Search for devices",
        "operationId": "devicesSearch",
        "tags": ["Devices"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDevice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of devices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModelBrands": {
      "get": {
        "summary": "List all device model brands",
        "operationId": "deviceModelBrandsList",
        "tags": ["Device Models"],
        "responses": {
          "200": {
            "description": "Returns a list of device model brands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModelBrandsList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModels": {
      "get": {
        "summary": "List all device models",
        "operationId": "deviceModelsList",
        "tags": ["Device Models"],
        "responses": {
          "200": {
            "description": "Returns a list of device models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModelList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModels/search": {
      "post": {
        "summary": "Search for device models",
        "operationId": "deviceModelsSearch",
        "tags": ["Device Models"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeviceModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of device models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModelList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModels/{deviceModel}": {
      "get": {
        "summary": "Retrieve a device model",
        "operationId": "deviceModelsRetrieve",
        "tags": ["Device Models"],
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceModel"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the device model object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModel"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/networkAvailabilities/lookup": {
      "post": {
        "summary": "Lookup network availability by location",
        "operationId": "networkAvailabilitiesLookup",
        "tags": ["Network Availabilities"],
        "description": "Looks up network availability information based on geographic coordinates (latitude/longitude) or address. Returns network availability data only for US locations.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkAvailabilityLookup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the network availability data with location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkAvailability"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans": {
      "get": {
        "summary": "List all plans",
        "operationId": "plansList",
        "tags": ["Plans"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of plan objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/search": {
      "post": {
        "summary": "Search for Plans",
        "operationId": "plansSearch",
        "tags": ["Plans"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchPlans"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of plans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}": {
      "get": {
        "summary": "Retrieve a plan",
        "operationId": "plansRetrieve",
        "tags": ["Plans"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the plan if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a plan",
        "operationId": "plansUpdate",
        "tags": ["Plans"],
        "description": "Updates the specified plan by setting the values of the parameters passed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}/archive": {
      "post": {
        "summary": "Archive a plan",
        "operationId": "plansArchive",
        "tags": ["Plans"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the archived plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}/publish": {
      "post": {
        "summary": "Publish a plan",
        "operationId": "plansPublish",
        "tags": ["Plans"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/planDocuments": {
      "get": {
        "summary": "List all plan documents",
        "operationId": "planDocumentsList",
        "tags": ["Plan Documents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of document objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanDocumentList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/planDocuments/{planDocument}": {
      "get": {
        "summary": "Retrieve a plan document",
        "operationId": "planDocumentsRetrieve",
        "tags": ["Plan Documents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/planDocument"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the plan document if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanDocument"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portings": {
      "get": {
        "summary": "List all portings",
        "operationId": "portingsList",
        "tags": ["Portings"],
        "description": "Returns a list of portings. The portings returned are sorted by creation date, with the most recently created portings appearing first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status to filter the portings by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "The unique identifier of the subscription to be filtered by.",
            "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The unique identifier of the user to be filtered by.",
            "example": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. The after parameter takes an object ID that defines the position in the list, only items immediately following the item with that ID will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. The before parameter takes an object ID that defines the position in the list, only items immediately preceding the item with that ID will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of items to be returned in the list, between 0 and 200.",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 0,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of portings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortingList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a porting",
        "operationId": "portingsCreate",
        "tags": ["Portings"],
        "description": "Creates a new porting. It will be created in draft status and can be later used to create an order or subscription for the same provider.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePorting"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/projects/{project}/portings/search": {
      "post": {
        "summary": "Search for portings",
        "operationId": "portingsSearch",
        "tags": ["Portings"],
        "description": "Searches for existing portings matching the given parameters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchPortings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of portings matching the search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortingList"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/portings/{porting}": {
      "get": {
        "summary": "Retrieve a Porting",
        "operationId": "portingsRetrieve",
        "tags": ["Portings"],
        "description": "Retrieves the details of an existing porting.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a draft porting",
        "operationId": "portingsDelete",
        "tags": ["Portings"],
        "description": "Deletes a porting that is in the draft state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "patch": {
        "summary": "Update a porting",
        "operationId": "portingsUpdate",
        "tags": ["Portings"],
        "description": "Updates a porting with the given parameters. Depending on the status of the porting, some fields may not be updated anymore.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePorting"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/projects/{project}/portings/{porting}/cancel": {
      "post": {
        "summary": "Cancel a porting",
        "operationId": "portingsCancel",
        "tags": ["Portings"],
        "description": "Cancels a porting. A porting can be cancelled if it is in the pending, declined or informationRequired state, or in the requested state and scheduled for a future date.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the canceled porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/serviceProviders": {
      "get": {
        "summary": "List all service providers",
        "operationId": "serviceProvidersList",
        "tags": ["Service Providers"],
        "description": "Returns a list of service providers. It is recommended that callers provide either a recipient provider or country to filter for relevant service providers.",
        "parameters": [
          {
            "name": "recipientProvider",
            "in": "query",
            "description": "Only return service providers that have the given network provider as supported porting recipient.",
            "example": "p7",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Only return service providers for the given country represented by the ISO 3166-1 alpha-2 country code.",
            "example": "US",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of service providers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProviderList"
                }
              }
            }
          }
        }
      }
    },
    "/serviceProviders/{serviceProvider}": {
      "get": {
        "summary": "Retrieve a service provider",
        "operationId": "serviceProvidersRetrieve",
        "tags": ["Service Providers"],
        "description": "Retrieves the details of a service provider.",
        "parameters": [
          {
            "$ref": "#/components/parameters/serviceProvider"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the service provider object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProvider"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/projects/{project}/portOuts": {
      "get": {
        "summary": "List all port outs",
        "operationId": "portOutsList",
        "tags": ["Port Outs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "subscription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the subscription to be filtered by.",
            "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": ["initiated", "issued", "processing"]
            },
            "description": "A comma-separated list of statuses to filter the port outs by."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 0,
              "maximum": 200
            },
            "description": "The limit of items to be returned in the list."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of port outs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOutList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create port out",
        "operationId": "portOutsCreate",
        "tags": ["Port Outs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePortOut"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created port out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portOuts/{portOut}": {
      "get": {
        "summary": "Retrieve port out",
        "operationId": "portOutsRetrieve",
        "tags": ["Port Outs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the port out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portOuts/{portOut}/credentials": {
      "get": {
        "summary": "Retrieve port out credentials",
        "operationId": "portOutsRetrieveCredentials",
        "tags": ["Port Outs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the port out credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOutCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portOuts/{portOut}/expire": {
      "post": {
        "summary": "Expire existing port out credentials",
        "operationId": "portOutsExpire",
        "tags": ["Port Outs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the port out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/testing/projects/{project}/portOuts/{portOut}/simulate": {
      "post": {
        "summary": "Simulate port out completion by network provider",
        "operationId": "portOutsSimulate",
        "tags": ["Port Outs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Port out completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "List all projects",
        "operationId": "projectsList",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the organization to be filtered by.",
            "example": "org_0SNlurA04kOdemVEMVZQBF"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 0,
              "maximum": 200
            },
            "description": "The limit of items to be returned in the list."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}": {
      "get": {
        "summary": "Retrieve a project",
        "operationId": "projectsRetrieve",
        "tags": ["Projects"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the project object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/credentials": {
      "get": {
        "summary": "Retrieve the project credentials",
        "operationId": "projectsRetrieveCredentials",
        "tags": ["Projects"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the project credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/{sim}/eSimProfile": {
      "get": {
        "summary": "Retrieve an eSIM profile",
        "operationId": "simsRetrieveESimProfile",
        "tags": ["SIMs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the eSimProfile if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eSimProfile"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims": {
      "get": {
        "summary": "List all SIMs",
        "operationId": "simsList",
        "tags": ["SIMs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "provider",
            "in": "query",
            "description": "The network provider ID for the sim to be filtered by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "A comma-separated list of statuses to filter the sims by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type for the sim to be filtered by.",
            "schema": {
              "type": "string",
              "enum": ["eSIM", "pSIM"]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The unique identifier for the user to be filtered by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of items to be returned in the list.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of SIMs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/{sim}": {
      "get": {
        "summary": "Retrieve a SIM",
        "operationId": "simsRetrieve",
        "tags": ["SIMs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the SIM if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sim"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a SIM",
        "operationId": "simsUpdate",
        "tags": ["SIMs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSim"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated SIM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sim"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/{sim}/credentials": {
      "get": {
        "summary": "Retrieve the SIM credentials",
        "operationId": "simsCredentials",
        "tags": ["SIMs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the SIM credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/search": {
      "post": {
        "summary": "Search for SIMs",
        "operationId": "simsSearch",
        "tags": ["SIMs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSims"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of SIMs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions": {
      "get": {
        "summary": "List all subscriptions",
        "operationId": "subscriptionsList",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sim",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a subscription",
        "operationId": "subscriptionsCreate",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscription"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}": {
      "get": {
        "summary": "Retrieve a subscription",
        "operationId": "subscriptionsRetrieve",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a subscription",
        "operationId": "subscriptionsUpdate",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/cancel": {
      "post": {
        "summary": "Cancel an active subscription",
        "operationId": "subscriptionsCancel",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/portIn": {
      "post": {
        "summary": "Port a phone number into a subscription",
        "operationId": "subscriptionsPortIn",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortInSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/end": {
      "post": {
        "summary": "End a subscription immediately",
        "operationId": "subscriptionsEnd",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/resume": {
      "post": {
        "summary": "Resume a canceled subscription",
        "operationId": "subscriptionsResume",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/search": {
      "post": {
        "summary": "Search for subscriptions",
        "operationId": "subscriptionsSearch",
        "tags": ["Subscriptions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSubscriptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionAddons": {
      "get": {
        "summary": "List all subscription add-ons",
        "operationId": "subscriptionAddonsList",
        "tags": ["Subscription Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "addon",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of subscription add-ons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddonList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a subscription add-on",
        "operationId": "subscriptionAddonsCreate",
        "tags": ["Subscription Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionAddon"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created subscription add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionAddons/{subscriptionAddon}": {
      "get": {
        "summary": "Retrieve a subscription add-on",
        "operationId": "subscriptionAddonsRetrieve",
        "tags": ["Subscription Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionAddon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription add-on if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddon"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "End a subscription add-on",
        "operationId": "subscriptionAddonsEnd",
        "tags": ["Subscription Add-ons"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionAddon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the ended subscription add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionChanges": {
      "get": {
        "summary": "List all subscription changes",
        "operationId": "subscriptionChangesList",
        "tags": ["Subscription Changes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of subscription changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChangeList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a subscription change",
        "operationId": "subscriptionChangesCreate",
        "tags": ["Subscription Changes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionChange"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created subscription change.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChange"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionChanges/{subscriptionChange}": {
      "get": {
        "summary": "Retrieve a subscription change",
        "operationId": "subscriptionChangesRetrieve",
        "tags": ["Subscription Changes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionChange"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription change if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChange"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a subscription change",
        "operationId": "subscriptionChangesDelete",
        "tags": ["Subscription Changes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionChange"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription change after a successful deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChange"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/usage": {
      "get": {
        "summary": "List subscription usage records",
        "description": "Lists usage records in ascending order for a subscription, defaulting to `daily` aggregation for the latest subscription period. If none of the `start`, `end`, or `period` parameters is provided, records are returned for the latest subscription period.",
        "tags": ["Usage"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the subscription.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Limits the usage data returned to the subscription period provided. This option is incompatible with the `start` and `end` parameters.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Limits the usage data to dates greater than or equal to the provided date. Can only be used in combination with `end`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Limits the usage data to dates up to and including the provided date. Can only be used in combination with `start`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggregation",
            "in": "query",
            "description": "Determines the aggregation method used, defaulting to `daily`. `period` provides aggregated values for the time range or period requested. The `roaming` aggregation is in preview and may only be used in particular cases.",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "period",
                "country",
                "roaming",
                "daily,country",
                "daily,roaming",
                "period,country",
                "period,roaming",
                "country,daily",
                "country,period",
                "roaming,daily",
                "roaming,period"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of usage records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageRecordList"
                }
              }
            }
          },
          "422": {
            "description": "Error details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/testing/projects/{project}/subscriptions/{subscription}/usage": {
      "post": {
        "summary": "Simulate subscription usage",
        "description": "Simulates usage on a subscription with a test SIM. Can be used to test usage notifications. Subscription must be in status \"active\".\n\n#### Preview\nThis endpoint is currently in preview and might change in the future.\nWe’re excited to hear your feedback and ideas. Please send an email to support@gigs.com to share your thoughts.",
        "tags": ["Usage"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the subscription.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulateUsage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the relevant usage record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageRecord"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/usageBalances": {
      "get": {
        "summary": "List all usage balances",
        "description": "Returns a list of usage balances for the given project. The list can be filtered by subscription, subscription period, or subscription add-on. When filtering by subscription without specifying subscriptionPeriod or subscriptionAddon, all usage balances for the subscription are returned regardless of source type or period.\n\n#### Preview\nThis endpoint is currently in preview and might change in the future.\nWe’re excited to hear your feedback and ideas. Please send an email to support@gigs.com to share your thoughts.",
        "tags": ["Usage Balances"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "Filter usage balances by Subscription ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionPeriod",
            "in": "query",
            "description": "Filter usage balances by subscription period. Requires the `subscription` parameter. Accepts a positive integer, the special value `current`, or a negative integer to request previous periods (e.g., `-1` for the previous period). Cannot be combined with `subscriptionAddon`. A usage balance is sourced from either a subscription period or a subscription add-on, never both - combining these will return an error.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionAddon",
            "in": "query",
            "description": "Filter usage balances by Subscription Add-on ID. Can be combined with `subscription` but not with `subscriptionPeriod`. A usage balance is sourced from either a subscription period or a subscription add-on, never both — combining these will return an error.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of usage balances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageBalanceList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/usageBalances/{usageBalance}": {
      "get": {
        "summary": "Retrieve a usage balance",
        "description": "Returns the details of an existing usage balance.\n\n#### Preview\nThis endpoint is currently in preview and might change in the future.\nWe’re excited to hear your feedback and ideas. Please send an email to support@gigs.com to share your thoughts.",
        "tags": ["Usage Balances"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageBalance",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the usage balance.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the usage balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageBalance"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/users": {
      "get": {
        "summary": "List all users",
        "description": "Returns a list of users. The users returned are sorted by creation date, with the most recently created users appearing first.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. The `after` parameter takes an object ID that defines the position in the list, only items immediately following the item with that ID will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. The `before` parameter takes an object ID that defines the position in the list, only items immediately preceding the item with that ID will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of items to be returned in the list, between 0 and 200.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 200,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of user objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a user",
        "description": "Creates a new user with the given parameters.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUser"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/users/{user}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "Retrieves the details of an existing user. You need only supply the unique user identifier that was returned upon user creation.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user object if the user exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "description": "Retrieves the details of an existing user and deletes it.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the user after a successful deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a user",
        "description": "Updates the specified user by setting the values of the parameters passed.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/users/search": {
      "post": {
        "summary": "Search for users",
        "description": "Searches for existing users matching the given parameters.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchUsers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the users matching the search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/users/{user}/addresses/{address}": {
      "get": {
        "summary": "Retrieve a user address",
        "description": "Retrieves the details of an existing address for a given user.",
        "tags": ["User Addresses"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the address if it exists and is owned by the user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAddress"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user address",
        "description": "Retrieves the details of an existing user address and deletes it.",
        "tags": ["User Addresses"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the address after a successful deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAddress"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/users/{user}/addresses": {
      "get": {
        "summary": "List all user addresses",
        "description": "Returns a list of addresses owned by the given user. The addresses returned are sorted by creation date, with the most recently created addresses appearing first.",
        "tags": ["User Addresses"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of address objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAddressList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a user address",
        "description": "Create a new address for the given user with the provided parameters.\n\nIf any validations fail during the user address creation process, detailed information will be provided in the error response body. If applicable, suggested alternative values for properties that do not pass the validations will also be included.\n\nPlease note that there is a maximum limit of 10 active addresses permitted per user. Attempts to exceed this limit will result in an error response. Addresses must also be unique for a given user.",
        "tags": ["User Addresses"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the project.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserAddress"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAddress"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/creditNotes": {
      "get": {
        "summary": "List all credit notes",
        "description": "Returns a list of credit notes.",
        "tags": ["Credit Notes"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "invoice",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of credit notes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": ["list"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditNote"
                      }
                    },
                    "moreItemsAfter": {
                      "type": "string",
                      "nullable": true
                    },
                    "moreItemsBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a credit note",
        "description": "Creates a new credit note for an invoice.",
        "tags": ["Credit Notes"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["invoice"],
                "properties": {
                  "invoice": {
                    "type": "string"
                  },
                  "lineItems": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "invoiceLineItem": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "integer",
                          "nullable": true
                        },
                        "taxes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "invoiceTax": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "integer",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "nullable": true
                  },
                  "fees": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "integer"
                        }
                      }
                    },
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created credit note.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/creditNotes/{creditNote}": {
      "get": {
        "summary": "Retrieve a credit note",
        "description": "Retrieves the details of an existing credit note.",
        "tags": ["Credit Notes"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creditNote",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the credit note.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/creditNotes/{creditNote}/void": {
      "post": {
        "summary": "Void a credit note",
        "description": "Marks the credit note as void.",
        "tags": ["Credit Notes"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creditNote",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the voided credit note.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNote"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/invoices": {
      "get": {
        "summary": "List all invoices",
        "description": "Returns a list of invoices.",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionAddon",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionChange",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "reason",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of invoices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": ["list"]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "moreItemsAfter": {
                      "type": "string",
                      "nullable": true
                    },
                    "moreItemsBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/invoices/{invoice}": {
      "get": {
        "summary": "Retrieve an invoice",
        "description": "Retrieves the details of an existing invoice.",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the invoice.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/invoices/{invoice}/pay": {
      "post": {
        "summary": "Pay an invoice",
        "description": "Marks the invoice as paid.",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
[...]
