{
  "openapi": "3.0.3",
  "info": {
    "title": "Gigs Core API",
    "description": "OpenAPI spec for Gigs Core API endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gigs.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/projects/{project}/addons": {
      "get": {
        "summary": "List all add-ons",
        "operationId": "addonsList",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of add-ons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddonList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/addons/{addon}": {
      "get": {
        "summary": "Retrieve an add-on",
        "operationId": "addonsRetrieve",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the add-on object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an add-on",
        "operationId": "addonsUpdate",
        "tags": [
          "Add-ons"
        ],
        "description": "Updates an add-on's name and description.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAddon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/addons/{addon}/archive": {
      "post": {
        "summary": "Archive an add-on",
        "operationId": "addonsArchive",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the archived add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/addons/{addon}/publish": {
      "post": {
        "summary": "Publish an add-on",
        "operationId": "addonsPublish",
        "tags": [
          "Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/addon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/devices": {
      "get": {
        "summary": "List all devices",
        "operationId": "devicesList",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of devices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a device",
        "operationId": "devicesCreate",
        "tags": [
          "Devices"
        ],
        "description": "Creates a new device with the given parameters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDevice"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created device.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/devices/{device}": {
      "get": {
        "summary": "Retrieve a device",
        "operationId": "devicesRetrieve",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/device"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the device object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a device",
        "operationId": "devicesDelete",
        "tags": [
          "Devices"
        ],
        "description": "Retrieves the details of an existing device and deletes it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/device"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the deleted device.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a device",
        "operationId": "devicesUpdate",
        "tags": [
          "Devices"
        ],
        "description": "Updates the given properties of an existing device.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/device"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDevice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated device.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/devices/search": {
      "post": {
        "summary": "Search for devices",
        "operationId": "devicesSearch",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDevice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of devices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModelBrands": {
      "get": {
        "summary": "List all device model brands",
        "operationId": "deviceModelBrandsList",
        "tags": [
          "Device Models"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of device model brands.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModelBrandsList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModels": {
      "get": {
        "summary": "List all device models",
        "operationId": "deviceModelsList",
        "tags": [
          "Device Models"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of device models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModelList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModels/search": {
      "post": {
        "summary": "Search for device models",
        "operationId": "deviceModelsSearch",
        "tags": [
          "Device Models"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeviceModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of device models.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModelList"
                }
              }
            }
          }
        }
      }
    },
    "/deviceModels/{deviceModel}": {
      "get": {
        "summary": "Retrieve a device model",
        "operationId": "deviceModelsRetrieve",
        "tags": [
          "Device Models"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/deviceModel"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the device model object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceModel"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/networkAvailabilities/lookup": {
      "post": {
        "summary": "Lookup network availability by location",
        "operationId": "networkAvailabilitiesLookup",
        "tags": [
          "Network Availabilities"
        ],
        "description": "Looks up network availability information based on geographic coordinates (latitude/longitude) or address. Returns network availability data only for US locations.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkAvailabilityLookup"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the network availability data with location.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkAvailability"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans": {
      "get": {
        "summary": "List all plans",
        "operationId": "plansList",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of plan objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/search": {
      "post": {
        "summary": "Search for Plans",
        "operationId": "plansSearch",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchPlans"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of plans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}": {
      "get": {
        "summary": "Retrieve a plan",
        "operationId": "plansRetrieve",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the plan if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a plan",
        "operationId": "plansUpdate",
        "tags": [
          "Plans"
        ],
        "description": "Updates the specified plan by setting the values of the parameters passed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}/archive": {
      "post": {
        "summary": "Archive a plan",
        "operationId": "plansArchive",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the archived plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/plans/{plan}/publish": {
      "post": {
        "summary": "Publish a plan",
        "operationId": "plansPublish",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/plan"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the available plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/planDocuments": {
      "get": {
        "summary": "List all plan documents",
        "operationId": "planDocumentsList",
        "tags": [
          "Plan Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of document objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanDocumentList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/planDocuments/{planDocument}": {
      "get": {
        "summary": "Retrieve a plan document",
        "operationId": "planDocumentsRetrieve",
        "tags": [
          "Plan Documents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/planDocument"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the plan document if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanDocument"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portings": {
      "get": {
        "summary": "List all portings",
        "operationId": "portingsList",
        "tags": [
          "Portings"
        ],
        "description": "Returns a list of portings. The portings returned are sorted by creation date, with the most recently created portings appearing first.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status to filter the portings by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "description": "The unique identifier of the subscription to be filtered by.",
            "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The unique identifier of the user to be filtered by.",
            "example": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. The after parameter takes an object ID that defines the position in the list, only items immediately following the item with that ID will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. The before parameter takes an object ID that defines the position in the list, only items immediately preceding the item with that ID will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of items to be returned in the list, between 0 and 200.",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 0,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of portings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortingList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a porting",
        "operationId": "portingsCreate",
        "tags": [
          "Portings"
        ],
        "description": "Creates a new porting. It will be created in draft status and can be later used to create an order or subscription for the same provider.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePorting"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/projects/{project}/portings/search": {
      "post": {
        "summary": "Search for portings",
        "operationId": "portingsSearch",
        "tags": [
          "Portings"
        ],
        "description": "Searches for existing portings matching the given parameters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchPortings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of portings matching the search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortingList"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/projects/{project}/portings/{porting}": {
      "get": {
        "summary": "Retrieve a Porting",
        "operationId": "portingsRetrieve",
        "tags": [
          "Portings"
        ],
        "description": "Retrieves the details of an existing porting.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a draft porting",
        "operationId": "portingsDelete",
        "tags": [
          "Portings"
        ],
        "description": "Deletes a porting that is in the draft state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "patch": {
        "summary": "Update a porting",
        "operationId": "portingsUpdate",
        "tags": [
          "Portings"
        ],
        "description": "Updates a porting with the given parameters. Depending on the status of the porting, some fields may not be updated anymore.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePorting"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/projects/{project}/portings/{porting}/cancel": {
      "post": {
        "summary": "Cancel a porting",
        "operationId": "portingsCancel",
        "tags": [
          "Portings"
        ],
        "description": "Cancels a porting. A porting can be cancelled if it is in the pending, declined or informationRequired state, or in the requested state and scheduled for a future date.",
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/porting"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the canceled porting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Porting"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/serviceProviders": {
      "get": {
        "summary": "List all service providers",
        "operationId": "serviceProvidersList",
        "tags": [
          "Service Providers"
        ],
        "description": "Returns a list of service providers. It is recommended that callers provide either a recipient provider or country to filter for relevant service providers.",
        "parameters": [
          {
            "name": "recipientProvider",
            "in": "query",
            "description": "Only return service providers that have the given network provider as supported porting recipient.",
            "example": "p7",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Only return service providers for the given country represented by the ISO 3166-1 alpha-2 country code.",
            "example": "US",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of service providers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProviderList"
                }
              }
            }
          }
        }
      }
    },
    "/serviceProviders/{serviceProvider}": {
      "get": {
        "summary": "Retrieve a service provider",
        "operationId": "serviceProvidersRetrieve",
        "tags": [
          "Service Providers"
        ],
        "description": "Retrieves the details of a service provider.",
        "parameters": [
          {
            "$ref": "#/components/parameters/serviceProvider"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the service provider object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProvider"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/projects/{project}/portOuts": {
      "get": {
        "summary": "List all port outs",
        "operationId": "portOutsList",
        "tags": [
          "Port Outs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "subscription",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the subscription to be filtered by.",
            "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": [
                "initiated",
                "issued",
                "processing"
              ]
            },
            "description": "A comma-separated list of statuses to filter the port outs by."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 0,
              "maximum": 200
            },
            "description": "The limit of items to be returned in the list."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of port outs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOutList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create port out",
        "operationId": "portOutsCreate",
        "tags": [
          "Port Outs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePortOut"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the created port out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portOuts/{portOut}": {
      "get": {
        "summary": "Retrieve port out",
        "operationId": "portOutsRetrieve",
        "tags": [
          "Port Outs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the port out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portOuts/{portOut}/credentials": {
      "get": {
        "summary": "Retrieve port out credentials",
        "operationId": "portOutsRetrieveCredentials",
        "tags": [
          "Port Outs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the port out credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOutCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/portOuts/{portOut}/expire": {
      "post": {
        "summary": "Expire existing port out credentials",
        "operationId": "portOutsExpire",
        "tags": [
          "Port Outs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the port out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/testing/projects/{project}/portOuts/{portOut}/simulate": {
      "post": {
        "summary": "Simulate port out completion by network provider",
        "operationId": "portOutsSimulate",
        "tags": [
          "Port Outs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/portOut"
          }
        ],
        "responses": {
          "200": {
            "description": "Port out completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortOut"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "List all projects",
        "operationId": "projectsList",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the organization to be filtered by.",
            "example": "org_0SNlurA04kOdemVEMVZQBF"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A cursor for use in pagination."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 0,
              "maximum": 200
            },
            "description": "The limit of items to be returned in the list."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a dictionary with an items property that contains an array of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}": {
      "get": {
        "summary": "Retrieve a project",
        "operationId": "projectsRetrieve",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the project object if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/credentials": {
      "get": {
        "summary": "Retrieve the project credentials",
        "operationId": "projectsRetrieveCredentials",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the project credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/{sim}/eSimProfile": {
      "get": {
        "summary": "Retrieve an eSIM profile",
        "operationId": "simsRetrieveESimProfile",
        "tags": [
          "SIMs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the eSimProfile if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eSimProfile"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims": {
      "get": {
        "summary": "List all SIMs",
        "operationId": "simsList",
        "tags": [
          "SIMs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "provider",
            "in": "query",
            "description": "The network provider ID for the sim to be filtered by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "A comma-separated list of statuses to filter the sims by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type for the sim to be filtered by.",
            "schema": {
              "type": "string",
              "enum": [
                "eSIM",
                "pSIM"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The unique identifier for the user to be filtered by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of items to be returned in the list.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of SIMs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/{sim}": {
      "get": {
        "summary": "Retrieve a SIM",
        "operationId": "simsRetrieve",
        "tags": [
          "SIMs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the SIM if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sim"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a SIM",
        "operationId": "simsUpdate",
        "tags": [
          "SIMs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSim"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated SIM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sim"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/{sim}/credentials": {
      "get": {
        "summary": "Retrieve the SIM credentials",
        "operationId": "simsCredentials",
        "tags": [
          "SIMs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/sim"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the SIM credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimCredentials"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/sims/search": {
      "post": {
        "summary": "Search for SIMs",
        "operationId": "simsSearch",
        "tags": [
          "SIMs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSims"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of SIMs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions": {
      "get": {
        "summary": "List all subscriptions",
        "operationId": "subscriptionsList",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sim",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a subscription",
        "operationId": "subscriptionsCreate",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscription"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}": {
      "get": {
        "summary": "Retrieve a subscription",
        "operationId": "subscriptionsRetrieve",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a subscription",
        "operationId": "subscriptionsUpdate",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/cancel": {
      "post": {
        "summary": "Cancel an active subscription",
        "operationId": "subscriptionsCancel",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/portIn": {
      "post": {
        "summary": "Port a phone number into a subscription",
        "operationId": "subscriptionsPortIn",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortInSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/end": {
      "post": {
        "summary": "End a subscription immediately",
        "operationId": "subscriptionsEnd",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/{subscription}/resume": {
      "post": {
        "summary": "Resume a canceled subscription",
        "operationId": "subscriptionsResume",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptions/search": {
      "post": {
        "summary": "Search for subscriptions",
        "operationId": "subscriptionsSearch",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSubscriptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a list of subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionAddons": {
      "get": {
        "summary": "List all subscription add-ons",
        "operationId": "subscriptionAddonsList",
        "tags": [
          "Subscription Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "addon",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of subscription add-ons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddonList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a subscription add-on",
        "operationId": "subscriptionAddonsCreate",
        "tags": [
          "Subscription Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionAddon"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created subscription add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionAddons/{subscriptionAddon}": {
      "get": {
        "summary": "Retrieve a subscription add-on",
        "operationId": "subscriptionAddonsRetrieve",
        "tags": [
          "Subscription Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionAddon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription add-on if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddon"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "End a subscription add-on",
        "operationId": "subscriptionAddonsEnd",
        "tags": [
          "Subscription Add-ons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionAddon"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the ended subscription add-on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionAddon"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionChanges": {
      "get": {
        "summary": "List all subscription changes",
        "operationId": "subscriptionChangesList",
        "tags": [
          "Subscription Changes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "subscription",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of subscription changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChangeList"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a subscription change",
        "operationId": "subscriptionChangesCreate",
        "tags": [
          "Subscription Changes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionChange"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created subscription change.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChange"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project}/subscriptionChanges/{subscriptionChange}": {
      "get": {
        "summary": "Retrieve a subscription change",
        "operationId": "subscriptionChangesRetrieve",
        "tags": [
          "Subscription Changes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionChange"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription change if it exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChange"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a subscription change",
        "operationId": "subscriptionChangesDelete",
        "tags": [
          "Subscription Changes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/project"
          },
          {
            "$ref": "#/components/parameters/subscriptionChange"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the subscription change after a successful deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionChange"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "project": {
        "name": "project",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the project.",
        "example": "gigs",
        "schema": {
          "type": "string"
        }
      },
      "addon": {
        "name": "addon",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the add-on.",
        "example": "add_0SNlurA049MEWV4VxLfwJc7PJtHc",
        "schema": {
          "type": "string"
        }
      },
      "device": {
        "name": "device",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the device.",
        "example": "dev_0SNlurA049MEWV55CrA9qMvI2FVJ",
        "schema": {
          "type": "string"
        }
      },
      "deviceModel": {
        "name": "deviceModel",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the device model.",
        "example": "dmd_0SNlurA04OUskUGfGAn3Rh",
        "schema": {
          "type": "string"
        }
      },
      "plan": {
        "name": "plan",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the plan.",
        "example": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo",
        "schema": {
          "type": "string"
        }
      },
      "planDocument": {
        "name": "planDocument",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the plan document.",
        "example": "pdc_0SNlurA049MEWV1S6e1qVqBV2xge",
        "schema": {
          "type": "string"
        }
      },
      "porting": {
        "name": "porting",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the porting.",
        "example": "prt_0SNlurA049MEWV39s2kSYqaat7ZS",
        "schema": {
          "type": "string"
        }
      },
      "serviceProvider": {
        "name": "serviceProvider",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the service provider.",
        "example": "svp_0SNlurA01K6GY5L0XJffY8",
        "schema": {
          "type": "string"
        }
      },
      "portOut": {
        "name": "portOut",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the port out.",
        "schema": {
          "type": "string",
          "example": "pto_0SNlurA049MEWV4DWEaT4SaeDI8s"
        }
      },
      "sim": {
        "name": "sim",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the SIM.",
        "example": "sim_0SNlurA049MEWV1BAAmWZULA4lf6",
        "schema": {
          "type": "string"
        }
      },
      "subscription": {
        "name": "subscription",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the subscription.",
        "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi",
        "schema": {
          "type": "string"
        }
      },
      "subscriptionAddon": {
        "name": "subscriptionAddon",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the subscription add-on.",
        "example": "sad_0SNlurA049MEWV2UNWPbDfW5B40U",
        "schema": {
          "type": "string"
        }
      },
      "subscriptionChange": {
        "name": "subscriptionChange",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the subscription change.",
        "example": "sch_0SNlurA049MEWV3bE0SMtbIEJApp",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Addon": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "addon"
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "available",
              "archived"
            ]
          }
        }
      },
      "AddonList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Addon"
            }
          }
        }
      },
      "UpdateAddon": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name of the add-on, meant to be displayable to users.",
            "example": "1GB Data Top-up"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The description of the add-on.",
            "example": "Disable international roaming."
          },
          "validity": {
            "type": "object",
            "nullable": true,
            "description": "The custom validity for this add-on.",
            "properties": {
              "unit": {
                "type": "string",
                "enum": [
                  "day",
                  "month"
                ],
                "description": "The time unit, either day or month.",
                "example": "day"
              },
              "value": {
                "type": "integer",
                "minimum": 1,
                "description": "The amount of units.",
                "example": 7
              }
            },
            "required": [
              "unit",
              "value"
            ]
          },
          "metadata": {
            "type": "object",
            "description": "A set of key-value pairs, to store metadata related to the resource.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "device"
            ]
          },
          "id": {
            "type": "string"
          },
          "imei": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DeviceList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          }
        }
      },
      "CreateDevice": {
        "type": "object",
        "required": [
          "imei"
        ],
        "properties": {
          "imei": {
            "type": "string",
            "description": "The IMEI (international mobile equipment identity) of the device.",
            "example": "492388841798923"
          },
          "user": {
            "type": "string",
            "nullable": true,
            "description": "Unique user identifier for the device owner.",
            "example": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
          },
          "sims": {
            "type": "array",
            "nullable": true,
            "description": "List of identifiers for all SIMs to attach to the device.",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "An optional custom name for the device.",
            "example": "Anna's iPhone 12 Pro"
          },
          "metadata": {
            "type": "object",
            "description": "A set of key-value pairs, to store metadata related to the resource.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "UpdateDevice": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "An optional custom name for the device.",
            "example": "Anna's iPhone 12 Pro"
          },
          "metadata": {
            "type": "object",
            "description": "A set of key-value pairs, to store metadata related to the resource.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "sims": {
            "type": "array",
            "description": "List of identifiers for all SIMs currently attached to the device.",
            "items": {
              "type": "string"
            }
          },
          "user": {
            "type": "string",
            "nullable": true,
            "description": "Unique user identifier for the device owner.",
            "example": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
          }
        }
      },
      "DeviceModel": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "deviceModel"
            ]
          },
          "id": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "DeviceModelList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeviceModel"
            }
          }
        }
      },
      "DeviceModelBrandsList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "deviceModelBrands"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SearchDevice": {
        "type": "object",
        "required": [
          "imei"
        ],
        "properties": {
          "imei": {
            "type": "string"
          }
        }
      },
      "SearchDeviceModel": {
        "type": "object",
        "required": [
          "imei"
        ],
        "properties": {
          "imei": {
            "type": "string"
          }
        }
      },
      "NetworkAvailability": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "networkAvailability"
            ]
          },
          "availability": {
            "type": "array",
            "description": "A list of availability details for the plans in the project.",
            "items": {
              "type": "object",
              "properties": {
                "plan": {
                  "type": "string",
                  "description": "The unique identifier for the plan.",
                  "example": "pln_0SNlurA049MEWV3V0q7gjQbM4EVo"
                },
                "provider": {
                  "type": "string",
                  "description": "The ID of the network provider supported by this plan.",
                  "example": "p11"
                },
                "technologies": {
                  "type": "object",
                  "description": "The technologies supported by the network provider.",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "strength": {
                        "type": "string"
                      },
                      "minDecibelMilliwatts": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "location": {
            "type": "object",
            "description": "The location for which availability information is provided.",
            "properties": {
              "address": {
                "$ref": "#/components/schemas/Address"
              },
              "coordinates": {
                "$ref": "#/components/schemas/Coordinates"
              }
            }
          }
        }
      },
      "NetworkAvailabilityLookup": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "coordinates": {
            "$ref": "#/components/schemas/Coordinates"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "example": "New York City"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "line1": {
            "type": "string",
            "example": "129 West 81st Street"
          },
          "line2": {
            "type": "string",
            "nullable": true,
            "example": "Apartment 5"
          },
          "postalCode": {
            "type": "string",
            "example": "10024"
          },
          "state": {
            "type": "string",
            "example": "NY"
          }
        }
      },
      "Coordinates": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The latitude coordinate.",
            "example": 40.7831,
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "description": "The longitude coordinate.",
            "example": -73.9712,
            "minimum": -180,
            "maximum": 180
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "plan"
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "available",
              "archived",
              "pending"
            ]
          }
        }
      },
      "PlanList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plan"
            }
          }
        }
      },
      "UpdatePlan": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The plan's name, meant to be displayable to the user.",
            "example": "Gigs Global"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The plan's description, meant to be displayable to the user.",
            "example": "A data plan you will love! Operates in most countries of the world."
          },
          "image": {
            "type": "string",
            "nullable": true,
            "description": "The plan's image, meant to be displayable to the user.",
            "example": "https://i.gigscdn.com/pr/nTZpgaEj5dTQ2Jo/original.png"
          },
          "metadata": {
            "type": "object",
            "description": "A set of key-value pairs, to store metadata related to the resource.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SearchPlans": {
        "type": "object",
        "properties": {
          "status": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "simType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "provider": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverageCountry": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PlanDocument": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "planDocument"
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "plan": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "PlanDocumentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanDocument"
            }
          }
        }
      },
      "Porting": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "porting"
            ]
          },
          "id": {
            "type": "string",
            "example": "prt_0SNlurA049MEWV39s2kSYqaat7ZS"
          },
          "accountNumber": {
            "type": "string",
            "nullable": true,
            "description": "The account number on the donor service provider.",
            "example": "123456789"
          },
          "accountPinExists": {
            "type": "boolean",
            "description": "Whether the account PIN has been provided.",
            "example": true
          },
          "address": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "The address of the account holder on the donor service provider."
          },
          "behavior": {
            "type": "string",
            "enum": [
              "cancelOnly",
              "portIn"
            ],
            "description": "The behavior of the porting.",
            "example": "portIn"
          },
          "billingPinExists": {
            "type": "boolean",
            "description": "Whether the billing PIN has been provided.",
            "example": true
          },
          "birthday": {
            "type": "string",
            "nullable": true,
            "description": "The birthday of the account holder on the donor service provider.",
            "example": "2017-07-21"
          },
          "canceledAt": {
            "type": "string",
            "nullable": true,
            "description": "Time when the porting was canceled.",
            "example": "2021-01-21T19:39:53Z"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "Time when the porting was completed.",
            "example": "2021-01-21T19:36:57Z"
          },
          "createdAt": {
            "type": "string",
            "description": "Time when the porting was created.",
            "example": "2021-01-21T19:12:28Z"
          },
          "declinedAttempts": {
            "type": "integer",
            "minimum": 0,
            "description": "The number of declined porting attempts so far.",
            "example": 0
          },
          "declinedCode": {
            "type": "string",
            "nullable": true,
            "description": "The code reason for the declined porting.",
            "example": "portingPhoneNumberPortProtected"
          },
          "declinedMessage": {
            "type": "string",
            "nullable": true,
            "description": "The reason description for the declined porting.",
            "example": "The phone number has port protection on the provider."
          },
          "donorProvider": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceProvider"
              }
            ],
            "description": "The service provider from whom the number is ported."
          },
          "donorProviderApproval": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the donor provider has approved or not the porting.",
            "example": true
          },
          "expiredAt": {
            "type": "string",
            "nullable": true,
            "description": "Time when the porting was expired.",
            "example": "2021-01-21T19:39:53Z"
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "description": "The first name of the account holder on the donor service provider.",
            "example": "Jerry"
          },
          "lastDeclinedAt": {
            "type": "string",
            "nullable": true,
            "description": "Time when the porting was last declined.",
            "example": "2021-01-21T19:31:13Z"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "description": "The last name of the account holder on the donor service provider.",
            "example": "Seinfeld"
          },
          "lastRequestedAt": {
            "type": "string",
            "nullable": true,
            "description": "Time when the porting was last requested.",
            "example": "2021-01-21T19:22:31Z"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number to port in E.164 format.",
            "example": "+19591234567"
          },
          "provider": {
            "type": "string",
            "description": "The ID of the recipient network provider.",
            "example": "p9"
          },
          "recipientProvider": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceProvider"
              }
            ],
            "description": "The service provider to whom the number is ported."
          },
          "required": {
            "type": "array",
            "description": "List of fields required for the porting to be processable.",
            "items": {
              "type": "string"
            },
            "example": [
              "accountNumber",
              "accountPin",
              "accountType",
              "address",
              "birthday",
              "donorProvider",
              "donorProviderApproval",
              "firstName",
              "lastName"
            ]
          },
          "scheduledOn": {
            "type": "string",
            "nullable": true,
            "description": "Date when the porting is scheduled to take effect.",
            "example": "2021-01-21"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "initiated",
              "pending",
              "informationRequired",
              "requested",
              "declined",
              "completed",
              "canceled",
              "expired",
              "failed"
            ],
            "description": "The current status of the porting."
          },
          "subscription": {
            "type": "string",
            "nullable": true,
            "description": "Unique identifier for the porting subscription.",
            "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi"
          },
          "user": {
            "type": "string",
            "description": "Unique identifier for the user this porting is for.",
            "example": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
          }
        }
      },
      "PortingList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Porting"
            }
          },
          "moreItemsAfter": {
            "type": "string",
            "nullable": true,
            "description": "A unique identifier to be used as after pagination parameter if more items are available sorted after the current batch of items."
          },
          "moreItemsBefore": {
            "type": "string",
            "nullable": true,
            "description": "A unique identifier to be used as before pagination parameter if more items are available sorted before the current batch of items."
          }
        }
      },
      "CreatePorting": {
        "type": "object",
        "required": [
          "phoneNumber",
          "provider",
          "user"
        ],
        "properties": {
          "accountNumber": {
            "type": "string",
            "nullable": true,
            "description": "The account number on the donor service provider.",
            "example": "123456789"
          },
          "accountPin": {
            "type": "string",
            "nullable": true,
            "description": "The pin for the account on the donor service provider.",
            "example": "1234"
          },
          "address": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "The address of the account holder on the donor service provider."
          },
          "behavior": {
            "type": "string",
            "nullable": true,
            "enum": [
              "cancelOnly",
              "portIn"
            ],
            "default": "portIn",
            "description": "The behavior of the porting.",
            "example": "portIn"
          },
          "billingPin": {
            "type": "string",
            "nullable": true,
            "description": "The billing pin for the account on the donor service provider.",
            "example": "1234"
          },
          "birthday": {
            "type": "string",
            "nullable": true,
            "description": "The birthday of the account holder on the donor service provider.",
            "example": "2017-07-21"
          },
          "donorProvider": {
            "type": "string",
            "nullable": true,
            "description": "The unique identifier of the donor service provider.",
            "example": "svp_0SNlurA01K6GY5L0XJffY8"
          },
          "donorProviderApproval": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the donor provider has approved or not the porting.",
            "example": true
          },
          "firstName": {
            "type": "string",
            "nullable": true,
            "description": "The first name of the account holder.",
            "example": "Jerry"
          },
          "lastName": {
            "type": "string",
            "nullable": true,
            "description": "The last name of the account holder.",
            "example": "Seinfeld"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number to port in E.164 format.",
            "example": "+19591234567"
          },
          "provider": {
            "type": "string",
            "description": "The name of the receiving network provider.",
            "example": "p9"
          },
          "scheduledOn": {
            "type": "string",
            "nullable": true,
            "description": "The date that the porting is scheduled to take effect.",
            "example": "2021-01-21"
          },
          "user": {
            "type": "string",
            "description": "The unique identifier for an existing user the porting should be created for.",
            "example": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
          }
        }
      },
      "UpdatePorting": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "The account number on the donor service provider.",
            "example": "123456789"
          },
          "accountPin": {
            "type": "string",
            "description": "The pin for the account on the donor service provider.",
            "example": "1234"
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Address"
              }
            ],
            "description": "The address of the account holder on the donor service provider."
          },
          "behavior": {
            "type": "string",
            "enum": [
              "cancelOnly",
              "portIn"
            ],
            "description": "The behavior of the porting.",
            "example": "portIn"
          },
          "billingPin": {
            "type": "string",
            "description": "The billing pin for the account on the donor service provider.",
            "example": "1234"
          },
          "birthday": {
            "type": "string",
            "description": "The birthday of the account holder on the donor service provider.",
            "example": "2017-07-21"
          },
          "donorProvider": {
            "type": "string",
            "description": "The unique identifier of the donor service provider.",
            "example": "svp_0SNlurA01K6GY5L0XJffY8"
          },
          "donorProviderApproval": {
            "type": "boolean",
            "description": "Whether the donor provider has approved or not the porting.",
            "example": true
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the account holder.",
            "example": "Jerry"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the account holder.",
            "example": "Seinfeld"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The phone number to port in E.164 format.",
            "example": "+19591234567"
          },
          "provider": {
            "type": "string",
            "description": "The ID of the recipient network provider.",
            "example": "p9"
          },
          "scheduledOn": {
            "type": "string",
            "nullable": true,
            "description": "Date when the porting is scheduled to take effect.",
            "example": "2021-01-21"
          }
        }
      },
      "SearchPortings": {
        "type": "object",
        "required": [
          "phoneNumber"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "The E.164-formatted phone number associated with the porting.",
            "example": "+12065550123"
          }
        }
      },
      "ServiceProvider": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "serviceProvider"
            ]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the service provider.",
            "example": "svp_0SNlurA01K6GY5L0XJffY8"
          },
          "country": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code of the service provider.",
            "example": "US"
          },
          "name": {
            "type": "string",
            "description": "The name of the service provider, usually a brand name.",
            "example": "AT&T"
          },
          "recipientProviders": {
            "type": "array",
            "description": "List of network providers IDs that can receive portings from the service provider.",
            "items": {
              "type": "string"
            },
            "example": [
              "p3"
            ]
          }
        }
      },
      "ServiceProviderList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceProvider"
            }
          },
          "moreItemsAfter": {
            "type": "string",
            "nullable": true
          },
          "moreItemsBefore": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PortOut": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "portOut"
            ]
          },
          "id": {
            "type": "string",
            "example": "pto_0SNlurA049MEWV4DWEaT4SaeDI8s"
          },
          "behavior": {
            "type": "string",
            "enum": [
              "cancelOnly",
              "portOut"
            ],
            "example": "portOut"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "example": "2022-02-21T19:38:34Z"
          },
          "createdAt": {
            "type": "string",
            "example": "2020-01-01T00:00:00Z"
          },
          "expiredAt": {
            "type": "string",
            "nullable": true,
            "example": "2022-02-21T19:38:34Z"
          },
          "failureReason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "consentNotGiven",
              "consentRequestCanceled"
            ],
            "example": "consentNotGiven"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "expired",
              "failed",
              "initiated",
              "issued",
              "processing"
            ],
            "example": "issued"
          },
          "subscription": {
            "type": "string",
            "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi"
          },
          "user": {
            "type": "string",
            "example": "usr_0SNlurA049MEWV4OpCwsNyC9Kn2d"
          }
        }
      },
      "CreatePortOut": {
        "type": "object",
        "required": [
          "subscription"
        ],
        "properties": {
          "behavior": {
            "type": "string",
            "nullable": true,
            "enum": [
              "cancelOnly",
              "portOut"
            ],
            "default": "portOut",
            "example": "portOut"
          },
          "subscription": {
            "type": "string",
            "example": "sub_0SNlurA049MEWV2gSfSxi00xlPIi"
          }
        }
      },
      "PortOutList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortOut"
            }
          },
          "moreItemsAfter": {
            "type": "string",
            "nullable": true
          },
          "moreItemsBefore": {
            "type": "string",
            "nullable": true
          }
        }
      },
[...]
